<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CKJ Store</title>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.orbit.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/home.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/orbit.css">
	</head>
	<body>
		<div class="container">
			<div class="head">
				<a id="logo" href="#">CKJ Store</a>

				<div class="head-login">
					<a href="#">cadastre-se</a>

					<form id="form-head">
						<div class="line">
							<label class="label-head" for="label-login">Login:</label>
							<input class="input-head" type="text" id="label-login" name="login">
						</div>
						<div class="line">
							<label class="label-head" for="label-password">Senha:</label>
							<input class="input-head" type="text" id="label-password" name="password">
						</div>
					</form>
					
					<a href="#">Entrar</a>
				</div>		
			</div>

			<!-- fim do header-->

			<div class="search">
				<ul id="list-head">
					<li class="icon-head"><a href="#" class="link-icon-head">HOME</a></li>
					<li class="icon-head"><a href="#" class="link-icon-head">CDS</a></li>
					<li class="icon-head"><a href="#" class="link-icon-head">DVDS</a></li>
					<li class="icon-head"><a href="#" class="link-icon-head">CONTATO</a></li>
				</ul>

				<form action="#" method="GET">
					<input type="text" name="search">
				</form>
			</div>		

			<div class="slideshow">
				<div id="featured"> 
					<img src="images/slideShow1.png" />
					<img src="images/slideShow2.png" data-caption="#htmlCaption" />
					<img src="images/slideShow3.png"  />
				</div>
			</div>
			
			<span>Últimas Vendas</span>

			<div class="wall">
				<div class="wall-poster">
					<img src="images/cd.jpg" />
					<span class="poster-title">CD Title</span>
					<span class="poster-price">Preço</span>
					<input class="poster-add-button" type="button" value="Adicionar ao Carrinho">
				</div>
				<div class="wall-poster">
					<img src="images/cd.jpg" />
					<span class="poster-title">CD Title</span>
					<span class="poster-price">Preço</span>
					<input class="poster-add-button" type="button" value="Adicionar ao Carrinho">
				</div>
				<div class="wall-poster">
					<img src="images/cd.jpg" />
					<span class="poster-title">CD Title</span>
					<span class="poster-price">Preço</span>
					<input class="poster-add-button" type="button" value="Adicionar ao Carrinho">
				</div>
				<div class="wall-poster">
					<img src="images/cd.jpg" />
					<span class="poster-title">CD Title</span>
					<span class="poster-price">Preço</span>
					<input class="poster-add-button" type="button" value="Adicionar ao Carrinho">
				</div>
			</div>
		</div>
	</body>
</html>